<footer class="site-footer">

  <div class="wrap">


    <div class="footer-col-1 column">
      <div class="footer-heading">About GCEP</div>
      <p><a href="/about/">About us</a></p>
      <p><a href="/people/">Our people</a></p>
    </div>

    <div class="footer-col-2 column">
      <div class="footer-heading">Training & events</div>
      <p><a href="/courses/">Courses</a></p>
      <p><a href="/masterclasses/">Masterclasses</a></p>
      <p><a href="/workshops/">Workshops</a></p>
      <p><a href="/seminars/">Seminars</a></p>
    </div>

    <div class="footer-col-3 column">
      <div class="footer-heading">Publications</div>
      <p><a href="/publications/">Publications</a></p>
    </div>

    <div class="footer-blurb"> 
      Georgetown Center for Econometric Practice (GCEP)</br>
      Department of Economics</br> 
      Georgetown University</br> 
    </div>
  
  </div>
</footer>
