<header class="site-header">
<div class="gcer-banner">
  <a href="/"><img id="gcer-banner-image" src="/assets/images/georgetown_university.png"></img></a>
</div>

  <div class="wrap">

    <nav class="site-nav">
      <ul id="navigation" class="sm sm-mint" style="display: block;">
        {% for navitem in site.data.navigation %}
        <li>
          <a href="{{ navitem.url }}">{{ navitem.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>

<script type="text/javascript" src="/assets/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.smartmenus.js"></script>
<script type="text/javascript" src="/assets/js/slick.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.carousel').slick({
      lazyLoad: 'progressive',
      dots: false,
      arrows: false,
      infinite: true,
      fade: true,
      autoplay: true,
      autoplaySpeed: 6000,
      cssEase: 'linear'
    });

    $('#navigation').smartmenus();
  });
</script>
