<div class="left-panel announcements panel-section">
  <div class="panel-section">
    <h2>GCEP Mission</h2>
      <div class="panel-section-content">
        Our mission is to contribute to the economic policy debate by increasing the quality of the econometric
        knowledge and practice in the DC economic research and policy communities. To do so we are partnering with the
        Center of Microdata Methods and Practice (<a href="http://www.cemmap.ac.uk/">CeMMAP</a>) to provide a number of
        activities ranging from training courses to seminars and masterclasses.
      </div>
  </div>

  <div class="panel-section">
    <h2>Upcoming courses</h2>
    <div class="panel-section-content">
      {% for course in site.data.courses | limit:2 %}
      <div class="announcement panel-section-content-item">
        <div class="course-schedule">{{ course.course.schedule }}</div>
        <div class="course-speaker">{{ course.course.speaker }}</div>
        <div class="course-workplace">{{ course.course.workplace }}</div>
      </div>
      {% endfor %}
      <a href="/courses/">More courses »</a>
    </div>
  </div>

  <div class="panel-section">
    <h2>Upcoming seminars</h2>
    <div class="panel-section-content">
      {% for seminar in site.data.seminars | limit:2 %}
      <div class="announcement panel-section-content-item">
        <div class="seminar-schedule">{{ seminar.seminar.schedule }}</div>
        <div class="seminar-speaker">{{ seminar.seminar.speaker }}</div>
        <div class="seminar-workplace">{{ seminar.seminar.workplace }}</div>
      </div>
      {% endfor %}
      <a href="/seminars/">More seminars »</a>
    </div>
  </div>

  <div class="panel-section">
    <h2>Keep in touch</h2>
    <div class="panel-section-content">
      <div>
        Subscribe to GCEP news (test)
        <input type="text">
      </div>
    </div>
  </div>
</div>
