<div class="right-panel announcements">
  <div class="panel-section">
    <h2>Search</h2>

    <div class="panel-section-content">
      <div>
        Search by title (test)
        <input type="text">
      </div>
    </div>
  </div>

    <div class="panel-section">
      <h2>Contact GCEP</h2>

      <div class="panel-section-content">
        <div>Georgetown Center for Econometric Practice</div>
        <div>+1 202 687 6172</div>
        <div>kg238@georgetown.edu</div>
      </div>
    </div>

    <div class="panel-section">
      <h2>Related center</h2>

      <div class="panel-section-content">
        <a href="http://gcer.georgetown.edu"><img src="../assets/images/logo_for_gcer.png"></a>
      </div>
    </div>
    <div class="panel-section">
      <h2>GCEP partners</h2>

      <div class="panel-section-content">
        <div><a href="http://www.cemmap.ac.uk/">CeMMAP</a></div>
        <div><a href="http://www.iza.org/en/webcontent/index_html">IZA</a></div>
      </div>
    </div>

    <div class="panel-section">
      <h2></h2>

      <div class="panel-section-content">
        <a href="http://www.georgetown.edu/"><img height="110" width="140" src="../assets/images/GU-logo.png"></a>
      </div>
    </div>
  </div>
