<div class="left-panel announcements panel-section">
  <div class="panel-section">
    <h2>GCEP Mission</h2>
      <div class="panel-section-content">
        Our mission is to contribute to the economic policy debate by promoting the knowledge and practice of econometrics among
        the DC economic research and policy communities. To do so we are partnering with <a href="http://www.cemmap.ac.uk/"
          target="_blank">CeMMAP</a>...  <a href="/about/">More »</a>
      </div>
  </div>

  <div class="panel-section">
    <h2>Upcoming courses</h2>
    <div class="panel-section-content">
      {% for course in site.data.courses-sidebar | limit:2 %}
      <div class="announcement panel-section-content-item">
        <div class="course-schedule">{{ course.course.schedule }}</div>
        <div class="course-speaker">{{ course.course.speaker }}</div>
        <div class="course-workplace">{{ course.course.workplace }}</div>
      </div>
      {% endfor %}
      <a href="/courses/">More courses »</a>
    </div>
  </div>
  
<div class="panel-section">
    <h2>Upcoming masterclasses</h2>
    <div class="panel-section-content">
      {% for masterclass in site.data.masterclasses-sidebar | limit:2 %}   
      <div class="announcement panel-section-content-item">
        <div class="masterclass-schedule">{{ masterclass.masterclass.schedule }}</div>
        <div class="masterclass-speaker">{{ masterclass.masterclass.speaker }}</div>
        <div class="masterclass-workplace">{{ masterclass.masterclass.workplace }}</div>
      </div>
      {% endfor %}
      <a href="/masterclasses/">More masterclasses »</a>
    </div>
 </div>

  <div class="panel-section">
    <h2>Upcoming seminars</h2>
    <div class="panel-section-content">
      {% for seminar in site.data.seminars-sidebar | limit:2 %}
      <div class="announcement panel-section-content-item">
        <div class="seminar-schedule">{{ seminar.seminar.schedule }}</div>
        <div class="seminar-speaker">{{ seminar.seminar.speaker }}</div>
        <div class="seminar-workplace">{{ seminar.seminar.workplace }}</div>
      </div>
      {% endfor %}
      <a href="/seminars/">More seminars »</a>
    </div>
  </div>

</div>
